body{
  background-color: #a5cca4;
}

.app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    height: 90vh;
    width: 90vw;
    border-radius: 15px;
    font-family: "IBM Plex Sans", sans-serif;
}

